html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:calc(10px + 1vw);
}
a{
    color: black;
    text-decoration: none;
}
body{
	margin: 8vw;
}
/*/////////////////////////////////////////////////////////////////
						Header
/////////////////////////////////////////////////////////////////*/
header{
    margin: 20px 20px 35px 20px;
}

header nav{
	display: flex;
	justify-content: space-between;
}

header nav ul{
    margin: 10px 10px 10px 10px;
    padding: 0vw 1vw 0vw 1vw;
    display: flex;
    justify-content: right;
}
header nav ul li{
    margin: 0 10px 0 10px;

}
header nav ul li a{
	font-weight: bold;
	font-size: small;
}


/*/////////////////////////////////////////////////////////////////
						Inform						
/////////////////////////////////////////////////////////////////*/

main section.inform{
    display: flex;
	margin: 10px;
	justify-content: center;
	padding: 1vw 10vw 1vw 6vw;
	border-bottom: 1px solid #e5e5e5;
}
main section.inform div{
	padding: 0 10px 0 10px;
}
main section.inform div p.para{
	font-size: 0.6rem;
	font-weight: lighter;
	padding: 0 3vw 3vw 0;
	margin: 0 2vw 0 2vw;
	
}
main section.inform h1{
	font-size: 2rem;
	padding: 10vw 7vw 7vw 2vw;
}
main section.inform div div.comen{
	display: flex;
	
}
main section.inform div div.comen p{
	font-size: 0.6rem;
	padding: 4px 0 0 0;
}
main section.inform div div.comen p span{
	color: #2c3a4b;
}
/*/////////////////////////////////////////////////////////////////
						Browse
/////////////////////////////////////////////////////////////////*/
main section.browse{
	display: flex;
}
main section.browse div{
	margin: 3vw;
}
