html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==============================================================================
                                    GERAL
================================================================================*/

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:calc(10px + 1vw);
}
a{
    color: black;
    text-decoration: none;
}
main{
	margin: 0 20vw 0 20vw;
}
/*===========================================
                   TOPO
===========================================*/

header{
	margin: 5vw 5vw 5vw 5vw;
}
header nav ul{
    display: flex;
    justify-content: right;
}
header nav ul li{
	margin: 0 10px 0 10px;
}
header nav ul li.atual a{
	color: #FF6464;
}
/*===========================================
           CONTEÚDO - Works
===========================================*/

main.main h1{
	font-size: 1.5rem;
}
main.main section{
   border-bottom:  1px solid #e0e0e0;
   padding: 0 6vw 0 6vw;
}
main.main section:last-child{
	border:none;
}
main.main section h2{
	font-size: 1rem;
	font-weight: bold;
	margin: 5vw 0 5vw 0;
}
main section p{
	margin: 2vw 0 2vw 0;

}
main.main section p span{
   background: #FF6464;
   border-radius: 20px;
   color: white;
   padding: 3px 5px 3px 5px;
   font-weight:bold; 
}
/*===========================================
           CONTEÚDO - Homepage
===========================================*/

main section.banner{
	margin: 4vw 0 4vw 0;
	display: flex;
}
section.banner h1{
	font-weight: bold;
	font-size: 2rem;
}
section.banner p{
	margin: 1.5vw 0vw 1.5vw 0vw;
}
section.banner button{
	color: #ffffff;
	font-weight: bold;
	background: #FF6464;
	padding: 12px 20px 12px 20px;
	border: none;
	font-size: 1rem;
}
section.rt-post{
	background: #edf4fa;
	padding: 2px 1.5vw 20px 1.5vw;
	margin: 10px 10px 10px 10px;
}
section.rt-post h2{
	font-size: 1.5rem;
	margin: 1.5vw 0 1.5vw 0;
}
section.rt-post ul{
	display: flex;
	border-radius: 20px 20px 20px 20px;
}
section.rt-post ul li{
	background: #ffffff;
	margin: 0 1.4vw 0 0;
	padding: 5px 1vw 5px 1vw;
}
section.rt-post h3{
	font-weight: bold;
}
section.rt-post ul li p{
	margin: 2vw 0 2vw 0;
	font-size: 1rem;
}
main section.ft-works h2{
	margin: 3vw 0vw 3vw 0vw;
}
section.ft-works ul li h3{
	font-weight: bold;
}
Main section.ft-works ul{
	display: flex;
}
main section.ft-works ul li{
	margin: 2vw 0vw 2vw 5vw;
}
main section.ft-works ul li:first-child{
	margin: 2vw 0vw 2vw 0vw;

}
main section.ft-works ul li p.txt-info{
	color:#8695A4
}
main section.ft-works ul li p span{
	background: #21243D;
	color: #ffffff;
	border-radius: 20px 20px 20px 20px;
	padding: 3px 5px 3px 5px;
	font-weight: bold;
}

/*===========================================
                  FOOTER
===========================================*/

footer{
	text-align: center;
	margin: 5vw 0 5vw 0;
}
footer ul{
	display: flex;
	justify-content: center;
	margin: 0 0 3vw 0;
}
footer ul li{
	margin: 0 10px 0 10px;
	font-size: 1rem;
}